/* app css stylesheet */
.hoverwell:hover {
  background-color: #565656;
  cursor: pointer;
}

.container {
  padding-top: 10px;
}

.pointable {
  cursor: pointer;
}

button {
  color: #76323f;
}

[hidden] {
  display: none !important;
}

.toast-success {
  background-color: #51a351;
}
.toast-error {
  background-color: #bd362f;
}
.toast-info {
  background-color: #d7cec7;
}
.toast-warning {
  background-color: #f89406;
}