<div class="container-fluid">
    <h1 class="labelNorm">Register</h1>
    <form autocomplete="off" #registerForm="ngForm" (ngSubmit)="register(registerForm.value)">
        <div class="form-group">
            <input (ngModel)="username" name="username" class="form-control" type="text" placeholder="username">
        </div>
        <div class="form-group">
            <input (ngModel)="password1" name="password1" class="form-control" type="password" placeholder="password">
        </div>
        <div class="form-group">
            <input (ngModel)="password2" name="password2" class="form-control" type="password" placeholder="verify password">
        </div>
        <div *ngIf="this.errorMessage>''" class="myError"><p>{{this.errorMessage}}</p></div>
            <button type="submit" (click)="register(registerForm.value)" class="btn btn-success">Register</button>
            <button type="button" [routerLink]="['/login']" class="btn btn-primary">Cancel</button>
    </form>
</div>

