
 <div class="container-fluid">
     
     <div class="navbar-brand navbar-header topBar band fulldiv">Profile
         <ul class="pull-right band">
             <a (click)="update(profileForm.values)">
                 <span class="glyphicon glyphicon-ok band fulldiv"></span>
             </a></ul>
     </div>

     <div class="myform">
         <form autocomplete="off" #profileForm="ngForm" (ngSubmit)="update(profileForm.values)">
             <div class="form-group">
                 <label for="text">Username</label>
                 <input [(ngModel)]="username" name="username" class="form-control" type="text" placeholder="username">
             </div>
             <div class="form-group">
                 <label for="email">Email</label>
                 <input [(ngModel)]="email" name="email" class="form-control" type="email" placeholder="email">
             </div>
             <div class="form-group">
                 <label for="text">First Name</label>
                 <input [(ngModel)]="firstName" name="firstName" class="form-control" type="text" placeholder="firstName">
             </div>
             <div class="form-group">
                 <label for="text">Last Name</label>
                 <input [(ngModel)]="lastName" name="lastName" class="form-control" type="text" placeholder="lastName">
             </div>
                 <button type="button" href="website-list.html" class="btn btn-success">Websites</button>
             <button type="button" [routerLink]="['/login']" class="btn btn-danger">Logout</button>
         </form>
    </div>
 </div>
            <div class ="navbar-brand navbar-footer bottomBar band fulldiv">
                    <ul class="pull-right band">
                    <span class="glyphicon glyphicon-user band fulldiv"></span></ul>
            </div>

