<div class="container-fluid">
    <h1 class="labelNorm">Register</h1>
    <div class="form-group">
        <input (ngModule)="username" name="username" class="form-control" type="text" placeholder="username">
    </div>
    <div class="form-group">
        <input (ngModule)="password" name="password" class="form-control" type="password" placeholder="password">
    </div>
    <div class="form-group">
        <input (ngModule)="password" name="password" class="form-control" type="password" placeholder="verify password">
    </div>
        <a [routerLink]="['/user',userId]"><button type="button"
            class="btn btn-success">Register</button></a>
        <a [routerLink]="['/login']"><button type="button"
            class="btn btn-primary">Cancel</button></a>
</div>

